astor==0.8.1
astroid==2.15.0
astunparse==1.6.3
autopep8==1.6.0
Brotli==1.0.9
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5d968ni_yn/croot/certifi_1671487774636/work/certifi
chardet==5.1.0
charset-normalizer==3.1.0
decorator==5.1.1
dill==0.3.6
docstring-to-markdown==0.12
ffmpeg-python==0.2.0
ffmpy==0.3.0
filelock==3.10.5
flake8==6.0.0
future==0.18.3
idna==3.4
isort==5.12.0
jedi==0.18.2
Jinja2==3.1.2
lanms-neo==1.0.2
lazy-object-proxy==1.9.0
llvmlite==0.39.1
lmdb==1.4.1
MarkupSafe==2.1.2
mccabe==0.7.0
mdutils==1.4.0
more-itertools==9.1.0
mpmath==1.3.0
networkx==3.0
numba==0.56.4
numpy==1.23.5
openai-whisper==20230314
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.0
paddle-bfloat==0.1.7
paddle2onnx==1.0.6
paddlepaddle==2.4.2
parso==0.8.3
pdf2image==1.16.3
Pillow==9.5.0
platformdirs==3.1.1
pluggy==1.0.0
Polygon3==3.0.9.1
protobuf==3.20.0
pyclipper==1.3.0.post4
pycodestyle==2.10.0
pydocstyle==6.2.3
pydub==0.25.1
pyflakes==3.0.1
pyflowchart==0.2.3
pylint==2.17.0
PyMuPDF==1.22.3
pyparsing==3.0.9
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-multipart==0.0.6
python-rapidjson==1.10
pytoolconfig==1.2.5
pytube==12.1.3
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
rapidfuzz==3.0.0
rarfile==4.0
regex==2023.3.23
requests==2.29.0
rope==1.7.0
scipy==1.10.1
sentencepiece==0.1.97
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4.1
sympy==1.11.1
termcolor==2.3.0
tifffile==2023.4.12
tiktoken==0.3.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
torch==2.0.0
tqdm==4.65.0
tritonclient==2.33.0
typing_extensions==4.5.0
tzdata==2023.3
uc-micro-py==1.0.2
ujson==5.7.0
urllib3==1.26.15
websockets==11.0.3
Werkzeug==2.3.4
whatthepatch==1.0.4
yapf==0.32.0
zope.event==4.6
zope.interface==6.0
